## Preliminary Analysis

We will start with some preliminary analysis on our data set.

### Load the dataset using R

First, we love the data set using the R function `read.csv` and assign it to the variable `titanic`. Note that the `read.table` and `read.csv` in R are equivalent accept for the default args. `read.table` defaults to separating on white space. `read.csv` defaults to separating on commas. `read.csv` also defaults to the argument `header=T`.

#### load the dataset using `read.csv()`

Load the csv file `titanic.csv` into a dataframe called `titanic`.

In [3]:
titanic = read.csv('titanic.csv', header=T)

In [5]:
stopifnot(dim(titanic) == c(891,12))

We displayed the dimension `dim()` and the structure `str()` of our datafrane. This is mostly done as a sanity check. We should have some idea of what the dimension and structure of our data is. By displaying these results immediately after loading the data, we can verify that the data has been loaded as we expect.

#### display the dimension of the data set

In [6]:
dim(titanic)

[1] 891  12

#### display the structure of the dataframe

In [7]:
str(titanic)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 358 277 16 559 520 629 417 581 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

### The `R` Structure Object

I interpret the structure of our data frame in the following way. Each row in the structure object, `str(titanic)` represents a column in the data frame `titanic`. The value immediately following the `$` is the name of that column. The value immediately following the `:` is the data type of that column. The values following the datatype are the first few values of the data in the column itself.

Note that R has made some default decisions about the structure of our data. It has designated five columns as integer columns, five columns as factor columns, and two columns as numerical problems. These may or may not be accurate according to our own understanding of the data. This was done by R, doing its best to intuit the structure of the data during the read of the CSV file. For example, a reasonable case could be made that the the `Survived` column should not be an integer, nor should the `Pclass`.

### Categorical Features In R 

R stores categorical features using a special type of vector called a **factor**. The data is stored as a vector of integers. The factor has an additional attribute, however. It also has a vector of levels. The integer stored as data are actually references to the vector of names. We can think of the data stored in the Factor as a mapping to the vector of levels.

#### display the class of the `titanic$embarked` column

In [8]:
class(titanic$Embarked)

[1] "factor"

#### display the levels of the `titanic$embarked` column

In [9]:
levels(titanic$Embarked)

[1] ""  "C" "Q" "S"

#### display that first few values of the `titanic$embarked` column

In [10]:
titanic$Embarked[1:5]

[1] S C S S S
Levels:  C Q S

### Completely Unique Columns

We can see from the structure of our data frame that it contains two columns that are completely unique. We are attempting to use the patterns in our data to make predictions about the survival of passengers during the Titanic disaster. This is done by identifying patterns in the data. If they column is completely unique there is no pattern to be identified there. Each passenger has its own unique value and there is really no immediate way to associate these unique values with each other. For this reason we will simply remove the completely unique columns. Prior to doing this, however, we should verify that they are in fact completely.

The two columns in question are `PassengerId` and `Name`. We will use the following method to establish that they are both completely unique:

1. We will take a measure of the number of passengers in the data set
2. We will take a measure of the number of unique values in each of the columns in question
3. If the values match we will consider the column safe for removal

#### store the number of passengers

Store the number of passengers as the variable `number_of_passengers`.

In [11]:
number_of_passengers = titanic$PassengerId

In [12]:
### HIDDEN TEST

#### display the length of the unique values in `titanic$passengerid` and `titanic$name`

In [13]:
for (column in colnames(titanic)) {
    print(paste(column, length(unique(titanic[,column]))))
}

[1] "PassengerId 891"
[1] "Survived 2"
[1] "Pclass 3"
[1] "Name 891"
[1] "Sex 2"
[1] "Age 89"
[1] "SibSp 7"
[1] "Parch 7"
[1] "Ticket 681"
[1] "Fare 248"
[1] "Cabin 148"
[1] "Embarked 4"

Any column where every value is unique can be safely dropped. This can be done by assigning the `NULL` value to the named column. For example, we might do the following on a generic data frame and column

    dataframe$mycolumn = NULL

#### drop the columns with completely unique values

Drop the columns from `titanic` that have completely unique values.

In [14]:
titanic$PassengerId = NULL
titanic$Name = NULL

In [15]:
### HIDDEN TESTS

### Write the Updated `DataFrame` to a new csv

In [16]:
write.csv(titanic, 'titanic-updated.csv')

### Summarize The Data

Finally, having dropped the features deemed not immediately useful, we display the summary statistics of the dataframe using the `summary()` function. This function shows the quartile values of the data as well as mean and median for numerical features and the counts to the best of its ability for the factors.

In [17]:
summary(titanic)

    Survived          Pclass          Sex           Age            SibSp
 Min.   :0.0000   Min.   :1.000   female:314   Min.   : 0.42   Min.   :0.000
 1st Qu.:0.0000   1st Qu.:2.000   male  :577   1st Qu.:20.12   1st Qu.:0.000
 Median :0.0000   Median :3.000                Median :28.00   Median :0.000
 Mean   :0.3838   Mean   :2.309                Mean   :29.70   Mean   :0.523
 3rd Qu.:1.0000   3rd Qu.:3.000                3rd Qu.:38.00   3rd Qu.:1.000
 Max.   :1.0000   Max.   :3.000                Max.   :80.00   Max.   :8.000
                                               NA's   :177
     Parch             Ticket         Fare                Cabin     Embarked
 Min.   :0.0000   1601    :  7   Min.   :  0.00              :687    :  2
 1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91   B96 B98    :  4   C:168
 Median :0.0000   CA. 2343:  7   Median : 14.45   C23 C25 C27:  4   Q: 77
 Mean   :0.3816   3101295 :  6   Mean   : 32.20   G6         :  4   S:644
 3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00   C22 C26    :  3
 Max.   :6.0000   CA 2144 :  6   Max.   :512.33   D          :  3
                  (Other) :852                    (Other)    :186

In [18]:
titanic

    Survived Pclass Sex    Age SibSp Parch Ticket           Fare
1   0        3      male   22  1     0     A/5 21171          7.2500
2   1        1      female 38  1     0     PC 17599          71.2833
3   1        3      female 26  0     0     STON/O2. 3101282   7.9250
4   1        1      female 35  1     0     113803            53.1000
5   0        3      male   35  0     0     373450             8.0500
6   0        3      male   NA  0     0     330877             8.4583
7   0        1      male   54  0     0     17463             51.8625
8   0        3      male    2  3     1     349909            21.0750
9   1        3      female 27  0     2     347742            11.1333
10  1        2      female 14  1     0     237736            30.0708
11  1        3      female  4  1     1     PP 9549           16.7000
12  1        1      female 58  0     0     113783            26.5500
13  0        3      male   20  0     0     A/5. 2151          8.0500
14  0        3      male   39  1     5     347082            31.2750
15  0        3      female 14  0     0     350406             7.8542
16  1        2      female 55  0     0     248706            16.0000
17  0        3      male    2  4     1     382652            29.1250
18  1        2      male   NA  0     0     244373            13.0000
19  0        3      female 31  1     0     345763            18.0000
20  1        3      female NA  0     0     2649               7.2250
21  0        2      male   35  0     0     239865            26.0000
22  1        2      male   34  0     0     248698            13.0000
23  1        3      female 15  0     0     330923             8.0292
24  1        1      male   28  0     0     113788            35.5000
25  0        3      female  8  3     1     349909            21.0750
26  1        3      female 38  1     5     347077            31.3875
27  0        3      male   NA  0     0     2631               7.2250
28  0        1      male   19  3     2     19950            263.0000
29  1        3      female NA  0     0     330959             7.8792
30  0        3      male   NA  0     0     349216             7.8958
⋮   ⋮        ⋮      ⋮      ⋮   ⋮     ⋮     ⋮                ⋮
862 0        2      male   21  1     0     28134            11.5000
863 1        1      female 48  0     0     17466            25.9292
864 0        3      female NA  8     2     CA. 2343         69.5500
865 0        2      male   24  0     0     233866           13.0000
866 1        2      female 42  0     0     236852           13.0000
867 1        2      female 27  1     0     SC/PARIS 2149    13.8583
868 0        1      male   31  0     0     PC 17590         50.4958
869 0        3      male   NA  0     0     345777            9.5000
870 1        3      male    4  1     1     347742           11.1333
871 0        3      male   26  0     0     349248            7.8958
872 1        1      female 47  1     1     11751            52.5542
873 0        1      male   33  0     0     695               5.0000
874 0        3      male   47  0     0     345765            9.0000
875 1        2      female 28  1     0     P/PP 3381        24.0000
876 1        3      female 15  0     0     2667              7.2250
877 0        3      male   20  0     0     7534              9.8458
878 0        3      male   19  0     0     349212            7.8958
879 0        3      male   NA  0     0     349217            7.8958
880 1        1      female 56  0     1     11767            83.1583
881 1        2      female 25  0     1     230433           26.0000
882 0        3      male   33  0     0     349257            7.8958
883 0        3      female 22  0     0     7552             10.5167
884 0        2      male   28  0     0     C.A./SOTON 34068 10.5000
885 0        3      male   25  0     0     SOTON/OQ 392076   7.0500
886 0        3      female 39  0     5     382652           29.1250
887 0        2      male   27  0     0     211536           13.0000
888 1        1      female 19  0     0     112053           30.0000
889 0        3      female NA  1     2     W./C. 6607       23.4500
890 1        1      male   26  0     0     111369           30.0000
891 0        3      male   32  0     0     370376            7.7500
    Cabin       Embarked
1               S
2   C85         C
3               S
4   C123        S
5               S
6               Q
7   E46         S
8               S
9               S
10              C
11  G6          S
12  C103        S
13              S
14              S
15              S
16              S
17              Q
18              S
19              S
20              C
21              S
22  D56         S
23              Q
24  A6          S
25              S
26              S
27              C
28  C23 C25 C27 S
29              Q
30              S
⋮   ⋮           ⋮
862             S
863 D17         S
864             S
865             S
866             S
867             C
868 A24         S
869             S
870             S
871             S
872 D35         S
873 B51 B53 B55 S
874             S
875             C
876             C
877             S
878             S
879             S
880 C50         C
881             S
882             S
883             S
884             S
885             S
886             Q
887             S
888 B42         S
889             S
890 C148        C
891             Q